@page
@using Microsoft.Extensions.Configuration
@model IndexModel
@{
    ViewData["Title"] = @ViewData["Message"];
}
<style>
    body {
        background-image: url("@ViewData["BackgroundUrl"]");
    }
    h1 {
            color: @ViewData["FontColor"];
            background-color: @ViewData["BackgroundColor"];
            font-size: @ViewData["FontSize"]px;
        }
</style>
<div class="text-center">
    <h1 class="display-4">@ViewData["Message"]</h1>
    <feature name=@nameof(FeatureFlags.MakeSound)>
            <audio id="player" src="@ViewData["SoundUrl"]"></audio>
            <button onclick="document.getElementById('player').play()" >@ViewData["SoundLabel"]</button>
    </feature>
</div>
